.playback div {
  width:50%;
  display: inline-block;
  font-size:40px;
}

.controls {
  text-align: center
}

.controls div {
  font-size:30px;
  display: inline-block;
  margin: 10px;
  width: 100px;
}

.prev {

}

.next {

}