.messages {
  left: 10px;
  top: 0;
  height: 250px;
  display: relative;
  z-index: 666;
}

.burgerMessage {
  position: fixed;
  display: relative;
}

.viewScreen {
  position: fixed;
  width: 100%;
  display: relative;
  top: 0;
  z-index: -1;
}

.burgerPhone {
  position: fixed;
  left: 85px;
  bottom: 3px;
  font-size: 45px;
  cursor: grab;
  display: relative;
  z-index: 666;
}

.showBurger {
  z-index: 4500;
}