.navRight {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 666;
}

.navRight div {
  display: inline-block;
  width: 66px;
  font-size: 45px;
  display: relative;
  z-index: 666;
  cursor: grab;
}