.sheilkwamm {
  position: fixed;
  left: 0;
  bottom: 5px;
  width: 75px;
  height: 75px;
  display: relative;
  z-index: 666;
}

.nice {
  position: fixed;
  left: 145px;
  bottom: 3px;
  font-size: 45px;
  cursor: crosshair;
  display: relative;
  z-index: 666;
}

.linkMe {
  cursor: grabbing;
  display: relative;
  z-index: 666;
}

.meow {
  position: fixed;
  left: 205px;
  bottom: 3px;
  font-size: 45px;
  cursor: grab;
  display: relative;
  z-index: 666;
}