.messageNext {
  position: fixed;
  display: relative;
  width: 100px;
  right: 0;
  top:144px;
  height: 50px;
  z-index:667;
}

.messageNextClick {
  position: fixed;
  display: relative;
  width: 100px;
  right: 0;
  top:144px;
  height: 50px;
  z-index:668;
  cursor: alias;
}

.messageBox {
  left: 10px;
  top: 0;
  height: 250px;
  display: relative;
  z-index: 666;
}