.controls {
  height: 47px;
}

.controls div {
  font-size:40px;
  width: 100px;
  background-color: rgb(211, 211, 211, .8);
  text-align: center;
  color: #447;
  font-weight: 900;
  line-height: 39px;
  height: 47px;
  cursor: pointer;
}

.prev {
  float: left;
}

.next {
  float: right;
}
